<button class="polaroid--container">
  <div class="polaroid--frame">
    <img src="../../../public/images/placeholder.jpg" alt="polaroid photo" class="polaroid--photo"/>
    <div class="polaroid--user">
      <img src="../../../public/images/usericon.jpg" alt="usericon" class="polaroid--user__photo" />
      <span class="sm">
        saulofuruta
      </span>
      <span class="polaroid--user__hashtag lg">
        #teste
      </span>
    </div>
    <img src="../../../public/images/addPhoto.png" alt="add button" class="polaroid--addButton"/>
  </div>
</button>
