<nav class = "navbar navbar-default" role = "navigation" ng-controller="navbarCtrl as navVm">
  <div class="container-fluid">
    <div class = "navbar-header">
       <button type = "button" class = "navbar-toggle"
          data-toggle = "collapse" data-target = "#example-navbar-collapse">
          <span class = "sr-only">InstalkerGram</span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
          <span class = "icon-bar"></span>
       </button>

       <a class = "navbar-brand" ui-sref="home">InstalkerGram</a>
    </div>

    <div class = "collapse navbar-collapse" id = "example-navbar-collapse">

       <ul class = "nav navbar-nav">
          <!-- <li ><a disabled href = "#">Create new category!</a></li> -->
          <li ng-repeat="category in navVm.categories"><a ui-sref="album({category: category})">{{category}}</a></li>

       </ul>
       <button ng-if="navVm.isAuth" type="button" class="btn btn-default navbar-btn navbar-right" ng-click="navVm.logout()">Logout</button>
    </div>

  </div>
</nav>
