<div class="container">
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <button>
        <div class="polaroid--frame">
          <img src="../../../public/images/placeholder.jpg" alt="polaroid photo" class="polaroid--photo"/>
          <div class="polaroid--user">
            <img src="../../../public/images/usericon.jpg" alt="usericon" class="polaroid--user__photo" />
            <span class="sm">
              saulofuruta
            </span>
            <span class="polaroid--user__hashtag lg">
              #teste
            </span>
          </div>
          <img src="../../../public/images/addPhoto.png" alt="add button" class="polaroid--addButton"/>
        </div>
      </button>


    </div>
  </div>
</div>

<!-- <h1>Hello World!</h1>
<button type="button" name="auth" ng-click="homeVm.auth()">Authenticate</button>

<div class="">
  <label for="hashtag">Hashtag: </label>
  <input type="text" name="hashtag" value="hashtag" id="hashtag" ng-model="homeVm.hashtag">
</div>

<button type="button" name="auth" ng-click="homeVm.getUrls()">Get Urls!</button> -->
